<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                Bot!Battle!
            </a>
        </div>

        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            
            <!--  Commented out due to the fact that student and admin portals have not been implemented
            <% if(!locals.username) { %>
                <li><a href="/login">Login</a></li>
            <% } else{ %>
                <li><a href="/logout">Logout</a></li>
            <% } %>
            
            
            <% if(locals.group) { %>
                <%if (locals.group === 'student') { %>
                    <li><a href="/studentPortal">Student Portal</a></li>
                <% } %>
                <%if (locals.group === 'admin') { %>
                    <li><a href="/adminPortal">Admin Portal</a></li>
                <% } %> 
            <% } %>
            -->
            
            <% if(!locals.gameRulesUrl) { %>
                <!-- do nothing -->
            <% } else{ %>
                    <li><a target=_blank href="<%= locals.gameRulesUrl %>">Game Rules</a></li>
            <% } %>
            
            <li><a id="eventLogToggle">Toggle Event Log</a></li>
            <li><a id="promoWebsite" href="/promo">Promo Website</a></li>
        </ul>
      
    </div>
</nav>


<div class="row">
  <div id="eventLogContainer" class="col-sm-12" style="display:none">
    <h4>Event Log</h4>
    <div id="eventLog" class="scrollableBox"></div>
    <button id ="clearLog">Clear Log</button>
    <hr>
  </div>
</div>

<div class="message">
    <!--<p>"Locals: <%= JSON.stringify(locals) %></p>-->
    <% if(locals.message) { %>
        <% if (locals.message.type === 'success') { %>
          <!-- A good thing happened -->
          <p style="color:green"><%= locals.message.text %></p>
        <% } else if (locals.message.type === 'error') { %>
          <!-- A bad thing happened -->
          <p style="color:red"><%= locals.message.text %></p>
        <% } else { %>
          <!-- Not necessarily good or bad -->
          <p><%= locals.message.text %></p>
        <% } %>
        <script> 

        // Wanted to make this call the GLOBAL.event log instead but can't due to 
        // the fact that global.js references html elements and must be deferred.
          $('.message').slideDown(function() {
              setTimeout(function() {
                  $('.message').html("");
              }, 3000);
          });
        </script>
    <% } else{ %>
      <p>&nbsp</p>
    <% } %>
</div>



